<?xml version="1.0"?>

<model>
    <name>sea_surface</name>
    <version>4.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Felix Bueno and Adrian Perez</name>
        <email>fqbueno@up.edu.ph and jvperez2@up.edu.ph</email>
    </author>

    <maintainer email="fqbueno@up.edu.ph">Felix Bueno</maintainer>
    <maintainer email="jvperez2@up.edu.ph">Adrian Perez</maintainer>


    <description>
        Sea Surface
    </description>
</model>
